@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Casual Regular";
  src: url("./fonts/Casual-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mona Sans Extrabold';
  src: url("./fonts/Mona-Sans-ExtraBoldWideItalic.otf") format('opentype');
}

@font-face {
  font-family: 'Mona Sans LightWide';
  src: url("./fonts/Mona-Sans-LightWide.otf") format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(238, 238, 238);
  font-family: 'Mona Sans LightWide';

}

h1 {
  font-family: 'Mona Sans Extrabold';
  font-weight: 200;
  font-size: 50px;
  color: rgb(223,14,14);
}

p {
  color: rgb(141, 141, 141);
  font-size: 15px;
}

a {
  color: rgb(223,14,14);
  font-family: "Casual Regular";
  font-style: italic;
  font-weight: 200;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

em {
  text-decoration: underline;
  text-decoration-color: rgb(223,14,14);
  /* color: rgb(223,14,14); */
  
}